/*Styling for the full doc*/
body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: dimgray;
}

/*make the buttons the same.*/
button {
    height: 44px;
    width: auto;
    font-size: 22px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 16px;
}
/*Button hovers the same*/
button:hover {
    color: white;
    background-color: mediumpurple;
}

/*h2 styling for most*/
h2 {
    font-size: 48px;
    text-shadow: 3px 3px 1px rgba(148, 129, 163, 0.9);
}

/*p styling for most*/
p {
    font-size: 28px;
    text-shadow: 3px 3px 1px rgba(148, 129, 163, 0.9);
}

#banner {
    background-color: rgb(148, 129, 163);
}

/*Styling for the title*/
.page-title h1 {
    font-size: 32px;
    line-height: 12px;
    padding-left: 14px;
}

/*Sets title to be inline with nav.*/
.page-title {
    display: inline-block;
    position: static;
}

/*Sets nav to be in correct position.*/
#menu-nav {
    display: inline-flex;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    float: right;
}

/*Styling the nav.*/
#menu-nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 32px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 26px;
}

/*Adds hover effect to the nav.*/
#menu-nav a:hover {
    color: ghostwhite;
}

/*Responsive Nav Hide Icon*/

#menu-nav .icon {
    display: none;
}

/*Responsive Nav stuff*/
@media screen and (max-width: 600px) {
    #menu-nav a:not(:first-child) {display: none;}
    #menu-nav .icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    #menu-nav.responsive {position: relative;}
    #menu-nav.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
    }
    #menu-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*Positions and styles the landing*/
#landing {
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 580px;
    padding-top: 12%;
    background-image: url("../assets/pictures/landingbg.PNG");
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    margin-bottom: 12px;
}

#landing h2 {
    font-size: 58px;
    text-shadow: 3px 3px 1px rgba(148, 129, 163, 0.9);
    margin-left: 950px;
    margin-top: 100px;
}

/*Adds an opacity layer over the background, under the content.*/
#landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(148, 129, 163, 0.2);
    z-index: 1;
}

/*Ensures the content is over the opacity layer.*/
#landing > * {
    position: relative;
    z-index: 2;
}

/*Positions the writing.*/
#writing {
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding-top: 12%;
    height: 580px;
    background-image: url("../assets/pictures/tcoa.jpeg");
    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: cover;
    margin-bottom: 12px;
}

/*Fading the background image*/
#writing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(148, 129, 163, 0.3);
    z-index: 1;
}

#writing > * {
    position: relative;
    z-index: 2;
}

/*Positions photography section.*/
#photography {
    text-align: center;
    vertical-align: middle;
    margin-top: -55px;
    padding-top: 12%;
    height: 848px;
    margin-bottom: 12px;
}

/*Framing the photos*/
.photo-container{
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
    padding-bottom: 32px;
}

/*Photography heading*/
#photography h2{
    margin-top: -165px;
    color: white;
    text-decoration: underline;
}

/*setting the table position*/
#photography table {
    vertical-align: middle;
    position: relative;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}

/*setting the pictures to be the right sizes.*/
#photography img {
    position: relative;
    height: 445px;
    width: auto;
    border: 3px solid white;
    border-radius: 15px;
}

/*Positions WebDev Section.*/
#web-dev {
    text-align: center;
    vertical-align: middle;
    padding-top: 12%;
    height: 580px;
}

.web-container {
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
}

/*setting the table position*/
#web-dev table {
    vertical-align: middle;
    position: relative;
    margin-top: -202px;
    margin-left: auto;
    margin-right: auto;
}

/*Setting the image borders*/
#web-dev img {
    position: relative;
    border-radius: 15px;
}

/*Text looks a bit better white.*/
#web-dev p {
    font-size: 28px;
    color: ghostwhite;
}

/*Full resume section positioning*/
#resume {
    margin-top: -560px;
}

#resume-container {
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
}

/*Position resume section*/
.resume-pdf {
    text-align: center;
    vertical-align: middle;
    padding-top: 12%;
}

#resume h2{
    color: ghostwhite;
}

/*Size of the Resume to make it fit on the page properly.*/
.resume-pdf embed {
    width: 775px;
    height: 1000px;
}

/*About me section position.*/
.about-me {
    text-align: center;
    vertical-align: middle;
    padding-top: 12%;
    margin-top: -202px;
}

.about-me-container {
    background-color: black;
    color: ghostwhite;
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20%;
}

/*About me subtitle*/
.about-me h4 {
    font-size: 34px;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 3px 3px 1px rgba(148, 129, 163, 0.9);
}

/*Form general*/
input[type=text], input[type=email], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid black; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/*Form section*/
.container {
    border-radius: 15px;
    padding: 20px;
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    color: ghostwhite;
    text-shadow: 3px 3px 1px rgba(148, 129, 163, 0.9);
}

/*Form title*/
.container h2 {
    font-size: 28px;
    text-align: center;
}

/*Form button style.*/
.contact-form input[type="submit"] {
    height: 32px;
    width: auto;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 16px;
}

/*Form button hover*/
.contact-form input[type="submit"]:hover {
    color: white;
    background-color: mediumpurple;
}

#form-message {
    text-shadow: none;
}

/*Writing dropdown setup*/
.poetry-item {
    cursor: pointer;
    display: flex;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.poetry-item:hover {
    color: ghostwhite;
}

.dropdown-arrow {
    font-size: 16px;
    transition: transform 0.3s ease;
}

.poem-content {
    display: none;
    padding: 10px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
}

.poetry-item.active .dropdown-arrow {
    transform: rotate(-90deg);
}

.poetry-item.active + .poem-content {
    display: block;
}

.at-arrow-down {
    padding-left: 10px;
    font-size: 16px;
}

.w-archive {
    text-align: center;
    vertical-align: middle;
}

#poetry {
    display: inline-block;
    text-align: left;
}

#short-stories {
    display: inline-block;
    text-align: left;
}

#essays {
    display: inline-block;
    text-align: left;
    margin-left: 25%;
}

#lore {
    display: inline-block;
    text-align: left;
    margin-left: 25%;
}

#novels {
    display: inline-block;
    text-align: left;
    margin-left: 35%;
}

.novel-list a, .short-stories-list a, .essay-list a, .lore-list a {
    display: flex;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.novel-list a:hover, .short-stories-list a:hover, .essay-list a:hover, .lore-list a:hover {
    color: ghostwhite;
}